<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeElectronics - Create experiment</title>
  <link rel="stylesheet" href="/section/createExperimentStyles.css">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <a class="back-link" href="/my/sections/<%= sectionId %>/experiments">&#8592; Back to Experiments List</a>
      
    <h1>Create a New Experiment</h1>

    <%- include("../partials/errors.ejs") %>

    <form action="/my/sections/<%= sectionId %>/experiments/<%= experimentId %>" method="POST">
      <label for="name ">Experiment Name:</label>
      <input type="text" id="experimentName" name="experimentName" placeholder="Experiment Name" required />

      <label for="description">Description:</label>
      <input type="text" id="description" name="description" placeholder="Description" required />

      <label for="isPublic">
        <input type="checkbox" name="isPublic" id="isPublic" value="true" />
        Make this experiment public in this section
      </label>

      <button type="submit">Submit</button>
    </form>
  </div>

</body>
</html>
