<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeElectronics - Create component</title>
  <link rel="stylesheet" href="/experiment/createComponentStyles.css">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <a class="back-link" href="/my/sections/<%= sectionId %>/experiments">&#8592; Back to Experiments List</a>
      
    <h1>Add a New Component</h1>

    <%- include("../partials/errors.ejs"), { flashErrorMessages, flashSuccessMessages } %>

    <form action="/my/sections/<%= sectionId %>/experiments/<%= experimentId %>/createComponent" method="POST">
      <label for="componentName">Component Name:</label>
      <input type="text" id="componentName" name="name" placeholder="Component Name" required />

      <label for="componentDescription">Description:</label>
      <input type="text" id="componentDescription" name="component_description" placeholder="Component Description" required />
      
      
      <label for="buyLink">Buy Link:</label>
      <input type="url" id="buyLink" name="buy_link" placeholder="https://example.com" />

      <label for="dataSheetLink">Datasheet Link:</label>
      <input type="url" id="dataSheetLink" name="data_sheet_link" placeholder="https://example.com/datasheet.pdf" />

      <button type="submit">Add Component</button>
    </form>
  </div>

</body>
</html>
