<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeElectronics - Create experiment</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 2rem;
      background-color: #f8f9fa;
    }
    h1 {
      color: #333;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 0.5rem;
    }
    a {
      text-decoration: none;
      color: #007bff;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <h1>Create a new experiment releated to this section</h1>
  <hr>
  <%- include("../partials/errors.ejs") %>
  <form action="/my/sections/<%= sectionId %>/experiments/createExperiment" method="POST">
    <label for="experimentName">Experiment Name: </label>
    <input type="text" name="experimentName" placeholder="Experiment Name">
    
    <label for="description">Description: </label>
    <input type="text" name="description" placeholder="Description"> 

    <label for="isPublic">
      <input type="checkbox" name="isPublic" id="isPublic" value="true"> 
      Make this experiment public in this section
    </label>

    <button type="submit">Submit</button>
  </form>

</body>
</html>
