<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeElectronics - Login</title>
  <link rel="stylesheet" href="/login/styles.css">
</head>

<body>
  <div class="form-container">
    <h1>Login</h1>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div> <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
  </div>

  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
